
<main>
  <section>
    <h2> <%= @work.title %> </h2>
    <p>Created by: <%= @work.creator %> </p>
    <p>Published: <%= @work.publication_year %> </p>
    <p> <%= @work.description %> </p>
    <section>
      <%= link_to 'Back to media ranks', root_path, class: "btn btn-primary" %>
      <%= link_to 'Edit', edit_work_path(@work.id), class: "btn btn-primary" %>
      <a class="btn btn-primary" rel="nofollow" data-method="post" href="/works/583/upvote">Upvote YET!</a>
      <%= link_to 'Delete', work_path(@work.id), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %>
    </section>
  </section>

  <h1>YET TO DO: below</h1>
  <section class="works-votes__container">
    <h3 class="works-votes__header">3 Votes for this Album</h3>
    <table class="table">
      <thead>
        <tr>
          <th>User</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a href="/users/670">lisa</a></td>
          <td>May 15, 2020</td>
        </tr>
        <tr>
          <td><a href="/users/657">Mr Z</a></td>
          <td>May 14, 2020</td>
        </tr>
      </tbody>
    </table>
  </section>
</main>